* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    position: absolute;
    z-index: -5;
    display: none;
}
.fa-bars {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    padding: 5px;
    background: burlywood;
    border-radius: 8px;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background: dodgerblue;
    position: relative;
    transform: translateX(-400px);
    transition: .5s;
    z-index: 10;
}
.open{
    transform: translateX(0);
}
.fa-circle-xmark {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
}